/* Root */
:root {
  --primary-color: #163460;
  --secondary-color: #63cdda ;
  --background-default: #021C33;
  overflow: hidden;
}

h1 {
  color: #a1afb2 !important;
  font-weight: bold;
}

/* App */

.app-container, .app-content, .app-center-content {
  height: 100%;
  background-color:var(--primary-color);
} 



/* NavBar */

.sider-navbar {
  background-color:var(--primary-color) !important;
}

.navbar-container {
  height: 100%;
}

.navbar-menu {
  height: 100% !important;
}

.navbar-menu-item-avatar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-menu-item-profile {
  height: 100px !important;
}

.home-content {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 20px;
}

.home-grid-row {
  margin: 0px !important;
  /* background-color: darkslategray; */
}

.home-grid-col {
  /* background-color: dodgerblue; */
  margin: 10px;
}

.post-item-container {
  border-radius: 25px;
  padding: 20px;
  display: block;
  height: 100%;
  background-color: var(--background-default);
}

.post-item-time {
  display: block;
  margin-top: 20px;
}

.post-item-message {
  display: inline-block;
  width: 90%;
}

.post-item-username {
  display: block;
  float: right;
  color: #a1afb2 !important;
} 



/* Profile */
.profile-container {
  overflow: auto;
  background-color: var(--primary-color);
  height: 100%;
}

.profile-banner {
  height: 40%;
}

.profile-banner-image {
  filter: blur(5px);
  height: 100%;
  background-size: cover;
  background-position-y: center;
}

.profile-banner-avatar {
  z-index:  2;
  filter: blur(0);
  position: relative;
  top: -300px;
  left: 100px;
  width: 10%;
}

.profile-data {
  padding-top: 10px;
  background-color: var(--background-default);
  height: auto;
  
}

.loading {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(40%);

}

.profile-grid {
}

.profile-grid-row {
  margin: 0px !important;
  /* background-color: darkslategray; */
}

.profile-grid-col {
  /* background-color: dodgerblue; */
  margin: 10px;
}

.grid-col-min {
  min-width: 0px;
}


.edit-profile-container {
  background-color: var(--primary-color);
  height: 100%;
}